// Responsive stuff
$hd = 87.5rem
$desktop = 60rem
$mobile = 34rem

// Fonts
// $font-size = 100%
$font-size = 16px
$line-height = 1.4
$base-line = $font-size * $line-height
$font-family = 'Trebuchet', Helvetica, Arial, sans-serif

//grid
$container-width = 87.5rem
$box-sizing = border-box

$body-background = #fff
$body-color = rgba(0,0,0,0.8)

//backgrounds
$blue-bg = #1ec8ed
$second-blue-bg = #0ca6c7

// Colors
$link-color = #1ec8ed
$separator-color = #e7e7e7

// Radius
$border-radius = 5px