mixin footer()
	+b.footer
		+b.UL.footer-menu
			+e.LI.item
				+e.A(href='#').link О компании
			+e.LI.item
				+e.A(href='#').link Для частных клиентов
			+e.LI.item
				+e.A(href='#').link Для юридических лиц
			+e.LI.item
				+e.A(href='#').link Контакты
		+b.copyright © <a href="#">Greensight</a>, 2015